.wrapper{
    margin-top: 6%;
    margin-bottom: 5%;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}
.left{
    margin-left: 7%;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    font-weight: lighter;
}
img{
   border: 1px solid grey;
}
.left h4{
    text-align: center;
    color: #5e6773;
    font-size: 18px;
}
.wrapper form{
    padding: 5%;
}
.remember {
    text-align: center;
    font-size: 14px;
    color: #5e6773;
    position: relative;
}
/* .remember span{
    border-radius: 24px;
    height: 18px;
    width: 40px;
    display: inline-block;
    position: relative;
} */
.submit{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.left .submit{
    font-weight: 500;
    color: #fff;
    background-color: #0062cc;
    width: 100%;
}
.left .forgetPwd{
    color: #0062cc;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.right{
    background: url("image/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: auto;
    box-shadow:2px rgba(0, 0, 0, 0.2);

}
.bg-text{
    font-size: 24px;
    color: whitesmoke;
    font-weight: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 156, 185, 0.92);
}
.bg-text h4{
    margin-top: 40%;
    margin-left: 8%;
    margin-bottom: auto;
}
.bg-text h5{
    margin-left: 8%;
}

@media screen and (max-width: 768px) {
    .right {
        display: none !important;
    }
    .left{
        width: 100%;
    }
}